# render.yaml
services:
  - type: web
    name: selllite
    env: static
    buildCommand: ""
    staticPublishPath: .
    routes:
      - type: rewrite
        source: /*
        destination: /index.html
      - type: rewrite
        source: /accueil
        destination: /index.html
      - type: rewrite
        source: /services
        destination: /services.html
      - type: rewrite
        source: /contact
        destination: /contact.html
    headers:
      - path: /*
        name: Cache-Control
        value: public, max-age=3600